extends ../layout

block content
    .container.jumbotron.fMain 
        a.btn.btn-success(href='/downloads/Timothy Kelly Resume 11-05-17.pdf') PDF Link
        .row
            .col-md-5.fLarge Timothy Kelly
            .col-md-3.fMedium 
                | 1626 Childs Ave
                br
                | Ogden, UT 84404
            .col-md-4.fMedium 
                | Phone:
                a(href="tel:8017194380") 801-719-4380
                br
                | Web-Page: 
                a(href='html://tim3ds.no-ip.org') TK-Home 
                br 
                | Email: 
                a(href="mailto:Tim3Ds@gmail.com") Tim3Ds@gmail.com
        .row
            .col-md-2.title Objectives
            .col-md-10.info 
                p Looking for opportunities to learn, develop new skills, and excel while continuing my education. 
                p Looking for an internship to build on my education, and move into a professional position. 
        .row
            .col-md-2.title Attributes
            .col-md-10.info 
                p  Self starter, able to see things that needs to be done and how to do them. 
                    | Understand how things work, fix them and/or make them more efficient. 
                    | Quick learner that enjoys working hard. Proficient with: computers, Internet usage, and office equipment. 
                    | Dependable and always complete tasks assigned.
        .row
            .col-md-2.title Skills
            .col-md-10.info
                | Software Engineer, Computer Hardware, Testing, Teamwork, Networking, MS Office, Costumer Service
                br 
                | Languages: HTML, CSS, PHP, JavaScript, Node.js, React, Express, C, C++, C#, ASP.NET, Java, Linux, LAMP
        .row
            .col-md-2.title Education
            .col-md-10.info
                .row.jobs
                    .col-md-4.fMedium December 2017
                    u.col-md-5.fMedium Weber State University 
                    .right.col-md-3.fMedium Ogden, UT 
                    br
                    .col-md-10.fMedium 
                        b Bachelors of Computer Science                
        .row.work
            .col-md-2.title Work Experience
            .col-md-10.info
                .row.jobs
                    .col-md-4.fMedium April 2017 – present  
                    u.col-md-5.fMedium Treehouse Children's Museum
                    .right.col-md-3.fMedium Ogden, UT 
                    br
                    .col-md-10.fMedium 
                        b Software Development Intern
                        ul
                            li Communicate With Management about needs of a project. build the project in Node.js React and Express from the design stages to release.
                            li Contact Supervisor: Rob Goodwin 801-394-9663 
                .row.jobs
                    .col-md-4.fMedium May 2016 – August 2016 
                    .col-md-5.fMedium 
                        u Westinghouse Electric Co.
                        | - Western Zirconium 
                    .right.col-md-3.fMedium Ogden, UT 
                    br
                    .col-md-10.fMedium 
                        b Computer Science Intern 
                        ul
                            li Upgrade hardware and software platform, solve coding problems due to platform upgrade. Create solutions for programming problems. Pear check others solutions. 
                            li Contact Supervisor: Jodi Victory 801-732-2250 
                .row.jobs
                    .col-md-4
                        .fMedium September 2011 – present 
                        .fSmall Previously employed from 2005 - 2007
                    .col-md-5.fMedium 
                        u  Pizza Hut 
                    .right.col-md-3.fMedium Ogden, UT
                    br
                    .col-md-10.fMedium 
                        b Shift lead – Starting Jan, 2013 
                        ul
                            li Manage store when General Manager is not there, Handle opening and closing tasks, and help the team work well together by coaching and training team members. 
                            li Contact GM: Nancy Butler 801-627-3000 
                .row.jobs
                    .col-md-4
                        .fMedium May 2010 – present (inactive) 
                    .col-md-5.fMedium 
                        u Skill Staffing
                        | – Progress MFG – Lifetime Metals
                    .right.col-md-3.fMedium 
                        | Clearfield, UT
                        br
                        | Provo, UT
                    br
                    .col-md-10.fMedium 
                        b Production Worker/Janitorial
                        ul
                            li Assist production team's and Odd jobs Including: Running a for cleaner, Landscaping, steal production and driving wrecked cars. 
                            li Contact: any staffing agent 801-392-7000 
                            li Last Job May 2012
                .row.jobs  
                    .col-md-4
                        .fMedium May 2009 – May 2010 
                    .col-md-5.fMedium 
                        u Storage Star
                    .right.col-md-3.fMedium Ogden, UT 
                    br
                    .col-md-10.fMedium 
                        b Production Worker/Janitorial
                        ul
                            li Set up rental agreements for U-HAUL and Storage; Manage U-HAUL lot, keep trucks and units clean; Phones, call costumers about rental agreements; Do minor office work, organization and filing 
                            li Contact Supervisor: Marsha Jensen 801-732-9618
                .row.jobs
                    .col-md-4
                        .fMedium April 2007-May 2009  
                    .col-md-5.fMedium 
                        u LDS Mission
                    .right.col-md-3.fMedium Alabama
        
