extends ../layout

block content
    .jumbotron 
        h1 Letters Of Recommendation
    .container
        .jumbotron 
            p
                a.btn.btn-success(href='/downloads/Letter of Recommendation Mann, Jonathan.pdf') PDF Link
            p August 24, 2016 
            p Re: Recommendation for Timothy Kelly
            p Dear Hiring Manager, 
            p As Tim’s mentor at Westinghouse Electric Co., I’m writing to express my highest support for Timothy Kelly as a software engineer. 
            p While going through the process of hiring a summer intern to help out with some software engineering projects, I was immediately struck by Tim’s competence in regards to problem solving and general software techniques. He was the stand-out candidate for us. 
            p As his internship progressed, Tim demonstrated the ability to learn new software platforms quickly and with very little oversight. This, combined with an excellent work ethic, allowed me to complete my work as a software engineer while Tim excelled at his assignments. Tim’s personal drive to create high-quality software was extremely valuable. 
            p As a Computer Science major at Weber State University, Tim brought a strong knowledge of software concepts and methodology. He applied these skills to help us update software, add functionality to existing systems, and help troubleshoot complex programs. 
            p I personally enjoyed working with Tim. We discussed books, science fiction, and daily life anecdotes. I would surely hire Tim again if I had the chance. We would have kept him on longer, but we were limited to just a summer internship on our end. 
            p In closing, I’d like to reassert my strong support for Tim in any software development capacity. His ability to consistently create high-quality software results, even on new software platforms, with little or no oversight, makes him a valuable asset to any organization with software needs. 
            p Sincerely, 
                br 
                | Jonathan Mann 
            P Senior Manufacturing Engineer – Control Software 
                br
                | Westinghouse Electric Co. 
                br 
                | mannj@westinghouse.com 
                br 
                | 801-732-2249 
                br 
                | 10000 West 900 
                br 
                | South Ogden, Utah 84404
        br 

