extends ../layout

block content
    .jumbotron 
        h1 Portfolio 
        p.lead Here is a Selection of projects I have done. Some for school, work/intership, and myself.
        p I will be the first to admit I am not a graphics designer but I can make the ideas of others come to life. 
    .container
        .row
            h2.title Title
            p.link link to active page if avalible  
            p.technologys list of technologys 
            p.discription discription of program 
            .image Pictue 

    .portfolio.template
        .row
            h2.title Title
            p.link link to active page if avalible  
            p.technologys list of technologys 
            p.discription discription of program 
            .image Pictue 
