extends ../layout

block content
    .jumbotron 
        h1 Portfolio 
        p.lead Here is a Selection of projects I have done. Some for school, work/intership, and myself.
        
    .container
        .row
            h2.title.col-lg-3 My Projects

            p.col-lg-12
                | This Site an express application That I imagin will one day be a central controle hub for my Smart house. For now it just contains my resume.
            
            p.col-lg-12 
                | Weber Window Washing Is a website for a Friends Company. He didn't want to host it.
                br
                a(href='http://tim3ds.no-ip.org:8080/Cliant/WeberWindow/1.0') Weber Window Washing 1.0
                br 
                a(href='http://tim3ds.no-ip.org:8080/Cliant/WeberWindow/2.0') Weber Window Washing 2.0
                
            
            p.col-lg-12
                | I was asked by a Marketstar Recruter If I could link PHP and SQL in an application. The First link is the one I made for marketstar. #2 is one I did for my Family.
                br
                a(href='http://tim3ds.no-ip.org:8080/marketstar') PHP sql Impimentation
                br 
                a(href='http://tim3ds.no-ip.org:8080/list') PHP sql Impimentation #2
                
            p.col-lg-12
                | This Little NAS Was my linux server until I got a Raspbery PI, which now hosts my main page.
                br
                a(href='https://www.cyrius.com/debian/iop/n2100/')
                    | Debian Linux on a Thecus n2100 NAS
                br
                | (NOTE: this page is not mine I only fallowed the instructions)
               
            
            
        .row
            h2.title.col-lg-3 School Projects
            p.col-lg-12

            
        .row
            h2.title.col-lg-3 Work Projects
            p.col-lg-12
        