extends ../layout

block content
    .jumbotron 
        h1 Portfolio 
        p.lead Here is a Selection of projects I have done. Some for School, Work/Internship, and for Myself.
        p Check out my GitHub in Other Links for code implementations 
    .container
        .row
            h2.title.col-lg-3 My Projects

            p.col-lg-12
                | This Site an express application That I imagine will one day be a central control hub for my Smart house. For now it just contains my resume.
            
            p.col-lg-12 
                | Weber Window Washing Is a website for a Friends Company.
                br
                a(href='http://tim3ds.no-ip.org:8080/Cliant/WeberWindow/1.0') Weber Window Washing 1.0
                br 
                a(href='http://tim3ds.no-ip.org:8080/Cliant/WeberWindow/2.0') Weber Window Washing 2.0
                
            
            p.col-lg-12
                | I was asked by a Marketstar Recruiter If I could link PHP and SQL in an application. The First link is the one I made for marketstar. #2 is one I did for my Family.
                br
                a(href='http://tim3ds.no-ip.org:8080/marketstar') PHP SQL Implementation
                br 
                a(href='http://tim3ds.no-ip.org:8080/list') PHP SQL Implementation #2
                
            p.col-lg-12
                | This Little NAS Was my LAMP server until I got a Raspberry PI, which now hosts my main page.
                br
                a(href='https://www.cyrius.com/debian/iop/n2100/')
                    | Debian Linux on a Thecus n2100 NAS
                br
                | (NOTE: this page is not mine I only fallowed the instructions)
               
            
            
        .row
            h2.title.col-lg-3 School Projects

            p.col-lg-12
                | CS 3750 Software Engineering 
                br 
                a(href='http://tim3ds.no-ip.org:3750') Balderdash Like Game
                br
                | This game runs on my old server and unfortunately It is not powerful enough to run with more then two players.
                br
                | This game was built In Express with MongoDB and Socket.io.

            p.col-lg-12
                | CS 3630 Rich Internet Applications
                br 
                a(href='http://tim3ds.no-ip.org:3630') Dot's N Boxes / FoggyBoxes
                br
                | This game is built with React and Konva (for HTML5 canvas elements). 

            p.col-lg-12
                | CS 3230 Java GUI
                br 
                a#Stratego(href='#') Stratego/War Download
                br
                | Stratego/War was my final project. Built with JavaFX using NetBeans IDE.
        
        .row
            h2.title.col-lg-3 Work Projects

            p.col-lg-12
                | Treehouse Childrens Museum DB
                br 
                a(href='/resume/portfolio/TCMdb') TCMdb Pictures
                br  
                | This only contains Pictures of the application, seeing as I am not permitted to run the in a public form.
                br
                | This game was built In Express with MongoDB.

            p.col-lg-12
                | Treehouse Childrens Museum Police Detective Station Game Suite 
                br 
                a(href='/resume/portfolio/PDS') PDS Pictures
                br  
                | This only contains Pictures of the application, seeing as I am not permitted to run the in a public form.
                br
                | This game was built In React. To be ran on a raspberry pi in chrome kiosk mode.
            
            p.col-lg-12
                | Westinghouse Electric Co. Win32 GUI
                br 
                | An application For managing a Watchdog On an Automated system through the Windows DDE internal app communications.