extends layout

block content
    .container.fMain 
        .jumbotron 
            p Dear Perspective Employer,
            p I am a Computer Science Major at student at Weber State University and have had internship's at Treehouse Childrens Museum and 
                | Westinghouse Electric Co. As a hard working professional I go above and beyond to provide the best user experience I can. 
                | My goal is to work with augmented reality systems and to design user interfaces that are simple and functional. 
                | Enclosed are my 
                a(href='/resume') Resume 
                | and 
                a(href='/resume/letters') Letters Of Recommendation
                |, you may also be interested in my 
                a(href='/resume/portfolio') Portfolio.
                | These detail my background and work experience.
            p I firmly believe that I can be a valuable asset to your team. 
                | I welcome the opportunity to speak with you about this position and how my experience could help your company achieve its goals. 
                | Thank you in advance for your consideration.
            p Sincerely,
            p Timothy Kelly