extends layout

block content
    .container 
        h1= title
        .row
            .col-sm-2.title Objectives
            .col-lg-8.info 
                p Looking for opportunities to learn, develop new skills, and excel while continuing my education. 
                p Looking for an internship to build on my education, and move into a professional position. 
        .row
            .col-sm-2.title Education
            .col-lg-8.info
                p
                    b Weber State University -
                    |  Computer Science
                ul
                    li Associates August 2016
                    li Bachelors December 2017 (expected) 
                    li 3.22 Cumulative GPA
        .row
            .col-sm-2.title Work experience
            .lead.col-md-8.info
                .row.jobs

                     