extends layout

block content
    .container.fMain 
        .jumbotron 
            p Dear Perspective Employeer,
            p I am a hard working professional who will go above and beyond to provide the best user experience I can. My goal is to work with augmented reality systems and to design user interfaces that are simple and fulfilling. Enclosed is my 
                a(href='/resume') resume 
                | you may also be interested in my 
                a(href='/resume/portfolio') portfolio
                |, these details my background and work experience, and how they may relate to your needs. 
                | As you can see, I am a student at Weber State University and have had an internship's previously, where I was highly regarded. 
            p I firmly believe that I can be a valuable asset to your team. 
                | I welcome the opportunity to speak with you about this position and how my experience could help your company achieve its goals. 
                | Thank you in advance for your consideration.
            p Sincerely,
            p Timothy Kelly