extends layout

block content
    .container 
        h1= title
        .row
            .col-sm-2.title Objectives
            .col-lg-8.info 
                p Looking for opportunities to learn, develop new skills, and excel while continuing my education. 
                p Looking for an internship to build on my education, and move into a professional position. 
        .row
            .col-sm-2.title Education
            .col-lg-8.info
                b Weber State University -
                |  Computer Science
                ul
                    li Associates August 2016
                    li Bachelors December 2017 (expected) 
                    li 3.22 Cumulative GPA
        .row
            .col-sm-2.title Work experience
            .col-md-8.info
                .row.jobs
                    .col-md-3.f9 April 2017 – present  
                    u.col-md-5.f9 Treehouse Children's Museum
                    .left.col-md-3.f9 Ogden, UT 
                    br
                    .col-lg-10.f9 
                        b Software Development Intern
                        ul
                            li Write Software in Node.js React and Express 
                            li Contact Supervisor: Rob Goodwin 801-394-9663 
                .row.jobs
                    .col-md-3.f9 May 2016 – August 2016 
                    .col-md-5.f9 
                        u Westinghouse Electric Co.
                        | - Western Zirconium 
                    .left.col-md-3.f9 Ogden, UT 
                    br
                    .col-lg-10.f9 
                        b Computer Science Intern 
                        ul
                            li Upgrade hardware and software platform, solve coding problems due to platform upgrade. Create solutions for programming problems. Pear check others solutions. 
                            li Contact Supervisor: Jodi Victory 801-732-2250 
                .row.jobs
                    .col-md-3
                        .f9 September 2011 – present 
                        .f6 Previously employed from 2005 - 2007
                    .col-md-5.f9 
                        u  Pizza Hut 
                    .left.col-md-3.f9 Ogden, UT 
                    br
                    .col-lg-10.f9 
                        b Shift lead – Starting Jan, 2013 
                        ul
                            li Manage store when General Manager is not there, Handle opening and closing tasks, and help the team work well together by coaching and training team members. 
                            li Contact GM: Nancy Butler 801-627-3000 
                .row.jobs
                    .col-md-3
                        .f9 May 2010 – present (inactive) 
                    .col-md-5.f9 
                        u Skill Staffing
                        | – Progress MFG – Lifetime Metals
                    .left.col-md-3.f9 
                        | Clearfield, UT 
                        br
                        | Provo, UT 
                    br
                    .col-lg-10.f9 
                        b Production Worker/Janitorial
                        ul
                            li Assist production team's and Odd jobs Including: Running a for cleaner, Landscaping, steal production and driving wrecked cars. 
                            li Contact: any staffing agent 801-392-7000 
                            li Last Job May 2012
                .row.jobs
                    .col-md-3
                        .f9 May 2009 – May 2010 
                    .col-md-5.f9 
                        u Storage Star
                    .left.col-md-3.f9 Ogden, UT 
                    br
                    .col-lg-10.f9 
                        b Production Worker/Janitorial
                        ul
                            li Set up rental agreements for UHAUL and Storage; Manage UHAUL lot, keep trucks and units clean; Phones, call costumers about rental agreements; Do minor office work, organization and filing 
                            li Contact Supervisor: Marsha Jensen 801-732-9618
                .row.jobs
                    .col-md-3
                        .f9 April 2007-May 2009  
                    .col-md-5.f9 
                        u LDS Mission
                    .left.col-md-3.f9 Alabama
        .row 
            .col-sm-2.title Skills
            .col-md-8
                | Computer Hardware, Software Engineer, Testing, Teamwork, Networking, Microsoft Office, Costumer Service 
                br 
                | Languages: HTML, CSS, PHP, JavaScript, C, C++, C#, ASP.NET, Java 
