body {
    background-image: url('../images/BackgroundTK-homeConcept-flower.jpg');
    background-attachment: fixed;
    background-size: contain;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}