body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.container {
    padding-top: 1em;
}

.right {
    text-align: right;
}

.fMain {
    font-size: 15pt;
}

.fLarge {
    font-size: 30pt;
}

.fMedium {
    font-size: 12pt;
}

.fSmall {
    font-size: 9pt;
}

.row {
    border-top: solid 1px;
    margin-top: 1em;
}

.row .jobs {
    border: none;
}


/* .info {
    min-width: 620px;
} */

.title {
    background: rgba(128, 128, 128, 0.61);
}