body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.container {
    padding-top: 1em;
}

.left {
    text-align: left;
}

.f9 {
    font-size: 9pt;
}

.f6 {
    font-size: 6pt;
}


/* .info {
    min-width: 620px;
} */


/* .title {
    
} */